#tc-warning-header {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;  
    background-color: rgba(255, 83, 73, 0.85);
}

#tc-warning-header h1 {
    padding: 10px 0;
    flex: 1;
    color: #F0F0F1 !important;
    font-weight: 500 !important;
    font-size: 1.5em !important;
    text-align: center !important;
    margin: 0 !important;
}

#tc-warning-header-icon {
    padding: 1.5em;
    flex: 1;
    max-width: 3em;
    height: 2em;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tc-warning-header.tc-hidden-warning {
    
}