#tc-warning-header {
    z-index: 1000;  
    background-color: rgba(255, 83, 73, 0.85);
}

#tc-warning-header.tc-popup {
    position: fixed;
    top: 1em;
    border-radius: 0.5em;
    padding: 15px 10px 10px;
    width: 20%;
}

#tc-warning-header.tc-popup.right {
    right: 2em;
}

#tc-warning-header.tc-popup.left {
    left: 2em;
}

#tc-warning-header.tc-banner {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#tc-warning-header h1 {
    color: #F0F0F1 !important;
    font-weight: 500 !important;
    font-size: 1.5em !important;
    text-align: center !important;
    margin: 0 !important;
}

#tc-warning-header h1 {
    padding: 10px 0;
}

#tc-warning-header.tc-tc-banner h1 {
    flex: 1;
}

#tc-warning-header.tc-banner #tc-warning-header-icon {
    padding: 1.5em;
    flex: 1;
    max-width: 3em;
    height: 2em;
}

#tc-warning-header.tc-popup #tc-warning-header-icon {
    position: absolute;
    max-width: 1.5em;
    padding: 0;
    background-size: 1.5em;
    top: 0;
    right: 0;
    height: 2em;
    width: 2em;
}

#tc-warning-header-icon {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tc-warning-header.tc-hidden-warning {
    
}