body {
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

#tl-skull {
    background-image: url('../assets/img/tlskull.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

#header {
    padding: 1.5em;
    background-color: #4C8DCA;
    color: white; 
    margin-bottom: 10px;
}

#header.warning {
    background-color: rgb(217, 59, 108);
}

p.logo {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

h1.header {
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.1em;
    flex-direction: column;
    width: 200px;
}

#options-wrapper {
    display: none;
    margin-top: 20px;
}

.f-item {
    display: flex;
    flex: 1;
    margin-top: 25px;
    justify-content: center;
}

.f-item:first-child {
    margin-top: 0;
}

#enable-label {
    margin-right: 10px;
}

#enable-input {
    font-size: 2em;
}

#custom-message {
    max-width: 200px;
    width: 200px;
}

.pretty.p-switch.p-fill input:checked~.state.tc-danger:before {
    background-color: rgb(217, 59, 108) !important;
}

.pretty.p-switch.p-fill input:checked~.state.tc-danger:before {
    background-color: rgb(217, 59, 108) !important;
}

.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: rgb(217, 59, 108) !important;
    background-color: rgb(217, 59, 108) !important;
}
/* 
https://color.adobe.com/Home-Again-color-theme-10477112/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20Home%20Again&mode=rgb&rgbvalues=0.09129999999999994,0.2738999999999999,0.5395,0.29700000000000004,0.5544,0.792,0.47,0.8588235294117647,0.92,0.96,0.94,0.95,0.8509803921568627,0.23137254901960785,0.4235294117647059&swatchOrder=0,1,4,2,3 */